:root {
    --main-background-color: #a3d5d3;
}

body {
    padding: 5vw;
    font-family: "KoHo", sans-serif;
    background-color: var(--main-background-color);    
}

@media (max-width: 600px) {        
}

@media (min-width: 600px) {
    .timeline-item {
        display: grid;
        grid-template-columns: 20% 80%; 
        padding: auto 10%;
    }
}

header {
    text-align:center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;

}

.timeline-item {
    margin: 15px auto;
    /* grid-area: info; */
}

.timeline-date {
    font-weight: bold;
    /* grid-area: date; */
}


#img-caption {
    font-size: 85%;
    font-style: italic;
    color: darkslategray;

}

#tribute-info {
    display: grid; 
    grid-template-columns: 100%;    
    justify-items: left; 
}

#timeline-headline {
    text-align:center;
    /* grid-area: header; */
}

#external-links {
    font-size: 120%;
    font-weight: bold;
    display: flex;
    justify-content: right;
}


