
:root {
    --main-background-color: #a3d5d3;
}

body {
    padding: 10vw;
    font-family: "KoHo", sans-serif;
    background-color: var(--main-background-color);    
}

@media (max-width: 600px) {        
}

@media (min-width: 600px) {
    .timeline-item {
        display: grid;
        grid-template-columns: 20% 80%; 
        padding: auto 10%;
    }
}

header {
    text-align:center;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: auto;
}

.timeline-item {
    margin: 15px auto;
}

.timeline-date {
    font-weight: bold;
}

#img-div {
    background: #dcefee;    
    padding: 20px;
    margin: 0px;
}

#img-caption {
    font-size: 85%;
    font-style: italic;
    color: rgb(27, 46, 46);

}

#timeline-headline {    
    text-align: left;
    padding-left: 35px;
}

#external-links {
    font-size: 120%;
    font-weight: bold;
    display: flex;
    justify-content: right;
}


