/* *{
    border: 1px solid red !important;
} */

html, body{
    height: 100vh;
    width: 100vw;
}

.container, #app {
    height: 100vh;
    max-height: 100%;
    width: 100vw;    
    max-width: 100%;
    /* overflow: none;     */
    margin: 0;    
}


.panel {
    border: 1px solid black;  
    /* overflow: hidden;  */
    height: 100%;
    width: 100%;    
}

.panel-header {
    background-color: lightgray;
}

.card-body {
    overflow: auto;
}

.panel-content {    
    height: calc(100% - 6px);
    width: 100%;
    border: none;
    resize: none;
}

#panels-wrapper {
    max-height: 90%;
    max-width: 99%;
    overflow: hidden;
}

blockquote {
    margin-left: 10px;
    padding-left: 2px;
    border-left: 2px solid teal;
    color: teal;
}

th, td {
    border: 2px solid black;
    padding: 10px;
}

pre, code {
    background-color: #e6e6e6;
    color: #000066;
}

a {
    text-decoration: underline;
}