/* *{
    border: 1px solid red !important;
} */

html, body{
    height: 100vh;
    width: 100vw;
}

.container, #app {
    height: 100vh;
    max-height: 100%;
    width: 100vw;    
    max-width: 100%;
    overflow: hidden;    
    margin: 0;
    width: 100%;
}

#editor {
    height: calc(100% - 6px);
    width: 100%;
    border: none;
    overflow: hidden;
    resize: none;
}

.panel {
    border: 1px solid black;   
    /* min-width: 150px;
    min-height: 150px; */
    
    /* 
    TODO: should be flexible according to panels setup on the screen */
    /* max-height: 50vh;
    max-width: 50vh;  */
}

.panel-header {
    background-color: lightgray;
}

.panel-content {
    height: 100%;
    width: 100%; 
    overflow: auto;
}

#panels-wrapper {
    max-height: 90%;
    max-width: 99%;
}

/* #editor-panel {
    background-color: lightblue;
}

#preview-panel {
    background-color: lightgreen;
} */