* {
    --background-color: #c7ffff;
    --dark-color: #3e7575;
    --border-width: 5px;
    --sidebar-width: 50px;
    --header-height: 40px;
}

html, body {
    font-family: 'Merriweather', serif;   
    margin: 0; 
    padding: 0;
    width: calc(100vw - (100%-100vw));
    overflow-x: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    border-bottom: 3px solid var(--dark-color);
}

.container {
    width: 100%;
    border: var(--border-width) solid var(--background-color);
    display: grid;
    grid-template-columns: var(--sidebar-width) calc(100% - var(--sidebar-width) - var(--border-width));
    grid-template-areas: 
        "contacts header"
        "contacts content";
    grid-gap: 0;
}

.header {
    background-color: var(--background-color);
    position: fixed;
    width: 100%;  
    height: var(--header-height);  
    padding: 5px 0;   
    /* grid item: */
    grid-area: header;
}

nav {
    margin: 0;
    padding: 0;
}

.navbar {
    justify-self: center;
    /* flex-container */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;      
    /* padding: 3px 0;   */
}

.navbar-item {
    display: inline;
    font-style: normal;
    margin: 0 2vw;  

}




#welcome-section {
    box-sizing: border-box;
    margin-top: var(--header-height);
    border: var(--border-width) solid var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    width: 100%;
}


#welcome-footer {
    margin-top: auto;
    color: var(--dark-color);
}

.main {
    grid-area: content;
    margin: 0;
    
}


#projects {
   display: flex;
   flex-direction: row; 
   flex-wrap: wrap;
   justify-content: space-around;
   border: var(--border-width) solid var(--background-color);
}

#projects-header {
    width: 100%;
    padding-left: 10px;
}

.project-tile {
    border: var(--border-width) solid var(--background-color);    
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px;
}

.project-title:hover {
    border-bottom: var(--border-width) solid var(--dark-color);  
}

.contacts {
    position: fixed;
    height: 100vh;
    width: var(--sidebar-width);
    background-color: var(--background-color);    
    /* grid item: */
    grid-area: contacts;
    /* flex container: */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.contact-list {
    list-style-type: none;    
    padding: 0 10px;
}

.contact-item {
    text-align: center;
    margin: 10px 0;
}

@media screen and (max-width: 600px)
{
    .navbar {
        justify-content: center;        
    }

    .project-tile {
        width: 80%;
    }
}

@media screen and (min-width: 601px)
{
    .navbar {
        justify-content: flex-end;
    }
    
    .project-tile {
        width: 40%;
    }
}

@media screen and (min-width: 750px)
{
    .project-tile {
        width: 28%;
    }
}