* {
    outline: 1px solid red !important;
    --background-color: #c7ffff;
}

html, body {
    font-family: 'Merriweather', serif;   
    margin: 0; 
}

.container {
    display: grid;
    grid-template-columns: 50px calc(100vw - 50px);
    grid-template-areas: 
        "contacts header"
        "contacts content";
    grid-gap: 0;
}

.header {
    background-color: var(--background-color);
    position: fixed;
    /* width: calc(100vw - 50px); */
    width: 100%;  
    height: 30px;  
    margin: 0;
    padding: 5px 0;   
    /* grid item: */
    grid-area: header;
}

.navbar {
    /* flex-container */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;        
}

.navbar-item {
    display: inline;
    font-style: none;
    margin: 0 2vw;

}

#welcome-section {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

#welcome-footer {
    margin-top: auto;
}

@media screen and (min-width: 601px)
{
    .navbar {
        justify-content: flex-end;
    }
}

@media screen and (max-width: 600px)
{
    .navbar {
        justify-content: center;        
    }
}

.main {
    grid-area: content;
}

.welcome-section {
    height: 100vw;
    text-align: center;
}


.contacts {
    position: fixed;
    height: 100vh;
    background-color: var(--background-color);
    /* grid item: */
    grid-area: contacts;
    /* flex container: */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;    
}

.contact-list {
    list-style-type: none;    
    padding: 0 10px;
}

.contact-item {
    text-align: center;
    margin: 10px 0;
}