// * {outline: 1px solid darkgray;}

html, body {
    height: 100vh;
    width: calc(100vw - (100%-100vw));
}

#app, #pomodoro {
    height: 100vh;
    width: calc(100vw - (100%-100vw));  
    padding: 0;
}

#clock-sidebar {
    max-width: 40%;
}

.break {
    color: red;
}

#clock {
    min-width: 25%;    
}

#reset {
    margin-left: auto;
}

#clock button {
    border: none;
}
