.row {
    height: 99vh;
    width: 99vw;        
}

.panel {
    border: 1px solid red;    
}

#editor-panel {
    background-color: lightblue;
}

#preview-panel {
    background-color: lightgreen;
}